<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">data</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ctrl-grid class="table-striped" ng-model="model" ng-fn="gridFn">
            <ctrl-grid-header>
                <ctrl-grid-header-column>name</ctrl-grid-header-column>
                <ctrl-grid-header-column></ctrl-grid-header-column>
            </ctrl-grid-header>
            <ctrl-grid-footer>
                <ctrl-grid-empty>no lists</ctrl-grid-empty>
            </ctrl-grid-footer>
            <ctrl-grid-body>
                <ctrl-grid-column>
                    {{ model.name }}
                </ctrl-grid-column>
                <ctrl-grid-buttons-column>
                    <button title="open" class="btn btn-default glyphicon glyphicon-th" ng-click="fn.open(model)" />
                </ctrl-grid-buttons-column>
            </ctrl-grid-body>
        </ctrl-grid>
    </div>
</div>