<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">layouts</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-grid class="table-striped" ng-model="data" ng-fn="gridFn">
                    <ctrl-grid-header>
                        <ctrl-grid-header-column>name</ctrl-grid-header-column>
                        <ctrl-grid-header-column></ctrl-grid-header-column>
                    </ctrl-grid-header>
                    <ctrl-grid-footer>
                        <ctrl-grid-empty>no layouts</ctrl-grid-empty>
                    </ctrl-grid-footer>
                    <ctrl-grid-body>
                        <ctrl-grid-column>
                            {{ row.name }}
                        </ctrl-grid-column>
                        <ctrl-grid-buttons-column>
                            <button class="btn btn-default glyphicon glyphicon-edit" ng-click="fn.edit(row)" />
                        </ctrl-grid-buttons-column>
                    </ctrl-grid-body>
                </ctrl-grid>
            </div>
        </div>

    </section>

</div>

