 <div class="container-fluid affix-area form-buttons-container">
    <div class="container">
        <div class="row ">
            <div class="col-md-10">
                <div class="affix-container">
                    <div class="buttons">
                        <button type="button" ng-show="!published && !draft" class="btn btn-danger" ng-click="discard()">discard</button>
                        <button type="button" ng-disabled="published && !draft" class="btn btn-success" ng-click="publish()">publish</button>
                    </div>

                    <ctrl-language-selector class="language-selector" ng-model="language" ng-options="languages" ng-show="localized"></ctrl-language-selector>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">{{ title }}</h1>
    </div>
</div>
        
<hr />

<div ng-show="tmpl" ng-include="tmpl"></div>

<hr />