<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ name }}</h1>
                <div class="buttons">
                    <button title="create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="create" ng-click="create()"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-grid class="table-striped" ng-model="data" ng-fn="gridFn" language="defaults.language">
                    <ctrl-grid-header>
                        <ctrl-grid-header-column>name</ctrl-grid-header-column>
                        <ctrl-grid-header-column></ctrl-grid-header-column>
                    </ctrl-grid-header>
                    <ctrl-grid-footer>
                        <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                        <ctrl-grid-empty>no data</ctrl-grid-empty>
                    </ctrl-grid-footer>
                    <ctrl-grid-body>
                        <ctrl-grid-column>
                            {{ row.name }}
                        </ctrl-grid-column>
                        <ctrl-grid-buttons-column>
                            <button class="btn btn-default glyphicon glyphicon-edit btn-sm" ng-click="fn.edit(row)" />
                            <button class="btn btn-default glyphicon glyphicon-remove btn-sm" ng-click="fn.delete(row)" />
                        </ctrl-grid-buttons-column>
                    </ctrl-grid-body>
                </ctrl-grid>
            </div>
        </div>

    </section>

</div>