<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">texts</h1>
        <div class="buttons">
            <button title="create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="create" ng-disabled="!canCreate()" ng-click="create()"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ctrl-grid class="table-striped" ng-model="model" ng-fn="gridFn" ng-language="defaults.language">
            <ctrl-grid-header>
                <ctrl-grid-header-column class="col-sm-5">group</ctrl-grid-header-column>
                <ctrl-grid-header-column class="col-sm-5">key</ctrl-grid-header-column>
                <ctrl-grid-header-column class="col-sm-2"></ctrl-grid-header-column>
            </ctrl-grid-header>
            <ctrl-grid-footer>
                <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                <ctrl-grid-empty>no texts</ctrl-grid-empty>
            </ctrl-grid-footer>
            <ctrl-grid-body>
                <ctrl-grid-column class="col-sm-5">
                    {{ model.group }}
                </ctrl-grid-column>
                <ctrl-grid-column class="col-sm-5">
                    {{ model.key }}
                </ctrl-grid-column>
                <ctrl-grid-buttons-column class="col-sm-2">
                    <button title="edit" class="btn btn-default glyphicon glyphicon-edit btn-sm" ng-disabled="!fn.canEdit(model)" ng-click="fn.edit(model)" />
                    <button title="delete" class="btn btn-default glyphicon glyphicon-remove btn-sm" ng-disabled="!fn.canDelete(model)" ng-click="fn.delete(model)" />
                </ctrl-grid-buttons-column>
            </ctrl-grid-body>
        </ctrl-grid>
    </div>
</div>