.page {
	padding-top:170px;
    padding-bottom:500px;
	position:absolute; 
	top:0;  
	width:100%; 
}

.page .scrollspy-container {
    padding-bottom: 200px;
}

.title-container {
    padding-bottom:20px;
}

.title-container .back-button {
    font-size: 32px;
    top: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.title-container .title {
    padding: 0px;
    margin: 0px;
    line-height: 42px;
    font-size: 28px;
    display: inline-block;

}

.title-container .btn-group {
    float:right;
}

.buttons-container .btn-group {
    float:right;
    margin-left: 10px;
}



.row.breadcrumb-form-row .breadcrumb
{
    background-color: transparent;
    padding: 0px;
}

.row.breadcrumb-form-row .breadcrumb > li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.row.breadcrumb-form-row .breadcrumb li.active div {
    display: inline
}

.row.breadcrumb-form-row .breadcrumb li.active input {
    width: auto;
    display: inline-block;
    height: 28px;
}
.row.breadcrumb-form-row .breadcrumb li.active .form-group .form-control-feedback {
    top: -8px;    
}

.bs-docs-sidebar.affix {
    top: 285px;
}

.input-group .input-group-btn button.glyphicon {
    top: 0px;
}