<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb"></ctrl-breadcrumb>

        <div class="row title-container">
            <div class="col-md-12">
                <h1>content</h1>
            </div>
        </div>

        <div class="row">
            <ul class="content-thumbs">
                <li>
                    <a href="javascript:;" ng-click="goto('languages')">
                        <img src="img/content/languages.png" style="height: 128px" />
                    </a>
                    <label>languages</label>
                </li>
                <li>
                    <a href="javascript:;" ng-click="goto('nodes')">
                        <img src="img/content/nodes.png" style="height: 128px" />
                    </a>
                    <label>nodes</label>
                </li>
                <li>
                    <a href="javascript:;" ng-click="goto('data')">
                        <img src="img/content/data.png" style="height: 128px" />
                    </a>
                    <label>data</label>
                </li>
                <li>
                    <a href="javascript:;" ng-click="goto('texts')">
                        <img src="img/content/texts.png" style="height: 128px" />
                    </a>
                    <label>texts</label>
                </li>
                <li>
                    <a href="javascript:;" ng-click="goto('files')">
                        <img src="img/content/files.png" style="height: 128px" />
                    </a>
                    <label>files</label>
                </li>
            </ul>
        </div>

    </section>

</div>