<!--<div class="row" id="page-content-related" data-scrollspy="Data">
    <ctrl-data class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.contentDataId" ng-domain="'core'" ng-list-id="'sample1'" ng-required="false" ng-label="Core Data"></ctrl-data>
</div>      
<div class="row" id="page-content-related22" data-scrollspy="Datas Required">
    <ctrl-data class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.contentDataIdd" ng-domain="'core'" ng-list-id="'sample1'" ng-required="true" ng-label="Core Data Required"></ctrl-data>
</div>-->
<div class="row" id="page-content-related3" data-scrollspy="Core DataList">
    <ctrl-data-list class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.contentDataIds" ng-domain="'core'" ng-list-id="'telephones'" ng-required="false" ng-label="Core DataList"></ctrl-data-list>
</div>      
<!--<div class="row" id="page-content-related35" data-scrollspy="Core DataList Required">
    <ctrl-data-list class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.contentDataIds3" ng-domain="'core'" ng-list-id="'sample1'" ng-required="true" ng-label="Core DataList Required"></ctrl-data-list>
</div>      
<div class="row" id="page-content-related4" data-scrollspy="EShop DataList">
    <ctrl-data-list class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.contentDataIds2" ng-domain="'eshop'" ng-list-id="'sample1'" ng-required="false" ng-label="EShop DataList"></ctrl-data-list>
</div>-->      