<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />

    <% if(robots !== '') { %><meta name="robots" content="<%= robots %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= meta.title %></title>
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="description" content="<%= meta.description %>" />

    <% _.each(styles, function(file) { %>
    <link rel="stylesheet" href="<%= file %>" /><% }); %>
</head>
<body ng-controller="AppController" ng-class="{ overflowed: (current.initiated && !current.user && current.users) || (current.initiated && !current.user && !current.users) || (current.initiated && current.denied)}">
    <header ng-include="'tmpl/core/common/header.html'"></header>

    <router-view ng-controller="PageController" route-id="routeId" class="page" ng-show="current.initiated && !current.denied"></router-view>
    
    <div ng-controller="LoginController" ng-if="current.initiated && !current.user && current.users" ng-include="'tmpl/core/common/login.html'"></div>
    <div ng-controller="RegistrationController" ng-if="current.initiated && !current.user && !current.users" ng-include="'tmpl/core/common/first-user.html'"></div>

    <% _.each(scripts, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- @if NODE_ENV='PRODUCTION' -->
    <script type="text/javascript" src="tmpl.js"></script>
    <!-- @endif -->
</body>
</html> 