<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />

    <% if(robots !== '') { %><meta name="robots" content="<%= robots %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= meta.title %></title>
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="description" content="<%= meta.description %>" />

    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- @endif -->
    <!-- @if NODE_ENV='PRODUCTION' -->
    <link rel="stylesheet" href="css/style.min.css" />
    <!-- @endif -->
</head>
<body ng-controller="AppController">
    <header ng-include="'tmpl/core/common/header.html'"></header>

    <div ng-view class="page" ng-show="current.initiated && !current.denied" ng-class="{'out-backwards': location.leaving && location.direction === 'ltr', 'in-forwards': location.coming && location.direction === 'ltr', 'in-backwards': location.coming && location.direction === 'rtl', 'out-forwards': location.leaving && location.direction === 'rtl'}"></div>

    <div ng-if="current.initiated && !current.user && current.users" ng-include="'tmpl/core/common/login.html'"></div>
    <div ng-if="current.initiated && !current.user && !current.users" ng-include="'tmpl/core/common/first-user.html'"></div>
    <div ng-if="current.initiated && current.denied" ng-include="'tmpl/core/common/denied.html'"></div>


    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <% _.each(scripts, function(file) { %><script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <% _.each(js.lib, function(file) { %><script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="../dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <% _.each(js.app, function(file) { %><script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="js/init.js"></script>
    <!-- @endif -->
    <!-- @if NODE_ENV='PRODUCTION' -->
    <script type="text/javascript" src="js/lib.min.js"></script>

    <script type="text/javascript" src="../dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <script type="text/javascript" src="js/app.min.js"></script>

    <script type="text/javascript" src="js/init.min.js"></script>
    <!-- @endif -->
</body>
</html>