<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />

    <% if(robots !== '') { %><meta name="robots" content="<%= robots %>">
    <% } %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= meta.title %></title>
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="description" content="<%= meta.description %>" />

    <% _.each(styles, function(file) { %>
    <link rel="stylesheet" href="<%= file %>" /><% }); %>
</head>
<body ng-controller="AppController">
    <header ng-include="'tmpl/core/common/header.html'"></header>

    <div ng-view class="page" ng-show="current.initiated && !current.denied" ng-class="{'out-backwards': location.leaving && location.direction === 'ltr', 'in-forwards': location.coming && location.direction === 'ltr', 'in-backwards': location.coming && location.direction === 'rtl', 'out-forwards': location.leaving && location.direction === 'rtl'}"></div>

    <div ng-show="current.initiated && !current.user && current.users" ng-include="'tmpl/core/common/login.html'"></div>
    <div ng-if="current.initiated && !current.user && !current.users" ng-include="'tmpl/core/common/first-user.html'"></div>
    <div ng-if="current.initiated && current.denied" ng-include="'tmpl/core/common/denied.html'"></div>
    
    <% _.each(scripts, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
</body>
</html>