@import (less) "../../../../../bower_components/bootstrap-3.3.5/dist/css/bootstrap.css";
@import (less) "../../../../../bower_components/bootstrap-switch-3.0.2/dist/css/bootstrap3/bootstrap-switch.css";
@import (less) "lib/bootstrap/css/bootstrap.docs.css";

@import (less) "../../../../../bower_components/bootstrap-datepicker-1.4.0/dist/css/bootstrap-datepicker.css";
@import (less) "../../../../../bower_components/eonasdan-bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.css";

@import (less) "../../../../../bower_components/cropper-0.7.9/dist/cropper.css";
@import (less) "../../../../../bower_components/imperavi-redactor-10.0.9/redactor/redactor.css";
@import (less) "../../../../../bower_components/ng-tags-input-3.0.0/ng-tags-input.css";
@import (less) "../../../../../bower_components/webui-popover-1.2.3/dist/jquery.webui-popover.css";

@import "../../../../../bower_components/angular-motion-0.3.4/src/fade/fade.less";
@import "../../../../../bower_components/angular-motion-0.3.4/src/fade-and-scale/fade-and-scale.less";
@import "../../../../../bower_components/angular-motion-0.3.4/src/fade-and-slide/fade-and-slide.less";
@import "../../../../../bower_components/angular-motion-0.3.4/src/flip/flip.less";
@import "../../../../../bower_components/angular-motion-0.3.4/src/slide/slide.less";

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../../admin/fonts/glyphicons-halflings-regular.eot');
  src: url('../../admin/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../../admin/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../../admin/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../../admin/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../../admin/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}