<div class="row" id="page-content-related" data-scrollspy="Data">
    <ctrl-data class="col-md-6" ng-model="node.data.contentDataId" ng-domain="'core'" ng-list="'sample1'" ng-required="false" ng-label="Core Data"></ctrl-data>
    <ctrl-data class="col-md-6" ng-model="node.data.eshopDataId" ng-domain="'eshop'" ng-list="'sample2'" ng-required="false" ng-label="EShop Data"></ctrl-data>
</div>      
<div class="row" id="page-content-relatedDisabled" data-scrollspy="Data Disabled">
    <ctrl-data class="col-md-6" ng-model="node.data.contentDataIdDisabled" ng-domain="'core'" ng-list="'sample1'" ng-required="false" ng-enabled="false" ng-label="Core Data Disabled"></ctrl-data>
    <ctrl-data class="col-md-6" ng-model="node.data.eshopDataIdDisabled" ng-domain="'eshop'" ng-list="'sample2'" ng-required="false" ng-enabled="false" ng-label="EShop Data Disabled"></ctrl-data>
</div>      
<div class="row" id="page-content-related2" data-scrollspy="Datas Required">
    <ctrl-data class="col-md-6" ng-model="node.data.contentDataId2" ng-domain="'core'" ng-list="'sample1'" ng-required="true" ng-label="Core Data Required"></ctrl-data>
    <ctrl-data class="col-md-6" ng-model="node.data.eshopDataId2" ng-domain="'eshop'" ng-list="'sample2'" ng-required="true" ng-label="EShop Data Required"></ctrl-data>
</div>      
<div class="row" id="page-content-related2Disabled" data-scrollspy="Datas Required Disabled">
    <ctrl-data class="col-md-6" ng-model="node.data.contentDataId2Disabled" ng-domain="'core'" ng-list="'sample1'" ng-required="true" ng-enabled="false" ng-label="Core Data Required Disabled"></ctrl-data>
    <ctrl-data class="col-md-6" ng-model="node.data.eshopDataId2Disabled" ng-domain="'eshop'" ng-list="'sample2'" ng-required="true" ng-enabled="false" ng-label="EShop Data Required Disabled"></ctrl-data>
</div>      
<div class="row" id="page-content-related3" data-scrollspy="Core DataList">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIds" ng-domain="'core'" ng-list="'sample1'" ng-required="false" ng-label="Core DataList"></ctrl-data-list>
</div>      
<div class="row" id="page-content-relatedDisabled3" data-scrollspy="Core DataList Disabled">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIdsDisabled" ng-domain="'core'" ng-list="'sample1'" ng-required="false" ng-enabled="false" ng-label="Core DataList Disabled"></ctrl-data-list>
</div>
<div class="row" id="page-content-related35" data-scrollspy="Core DataList Required">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIds3" ng-domain="'core'" ng-list="'sample2'" ng-required="true" ng-label="Core DataList Required"></ctrl-data-list>
</div>      
<div class="row" id="page-content-related35Disabled" data-scrollspy="Core DataList Required Disabled">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIds3Disabled" ng-domain="'core'" ng-list="'sample2'" ng-required="true" ng-enabled="false" ng-label="Core DataList Required Disabled"></ctrl-data-list>
</div>      
<div class="row" id="page-content-related4" data-scrollspy="EShop DataList">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIds2" ng-domain="'eshop'" ng-list="'sample1'" ng-required="false" ng-label="EShop DataList"></ctrl-data-list>
</div>      
<div class="row" id="page-content-related45" data-scrollspy="EShop DataList Required">
    <ctrl-data-list class="col-md-12" ng-model="node.data.contentDataIds4" ng-domain="'eshop'" ng-list="'sample2'" ng-required="true" ng-label="EShop DataList Required"></ctrl-data-list>
</div>      
