<div class="row" id="page-content-file" data-scrollspy="File">
    <ctrl-file class="col-md-12" ng-model="node.data.contentFileId" ng-required="false" ng-label="File"></ctrl-file>
</div>      
<div class="row" id="page-content-filedisabled" data-scrollspy="File Disabled">
    <ctrl-file class="col-md-12" ng-model="node.data.contentFileIddisabled" ng-required="false" ng-enabled="false" ng-label="File Disabled"></ctrl-file>
</div>      
<div class="row" id="page-content-filerequired" data-scrollspy="File Required">
    <ctrl-file class="col-md-12" ng-model="node.data.contentFile2Id" ng-required="true" ng-label="File *"></ctrl-file>
</div>      
<div class="row" id="page-content-filerequireddisabled" data-scrollspy="File Required Disabled">
    <ctrl-file class="col-md-12" ng-model="node.data.contentFile2Iddisabled" ng-required="true" ng-enabled="false" ng-label="File Disabled *"></ctrl-file>
</div>      
<div class="row" id="page-content-files" data-scrollspy="Files">
    <ctrl-file-list class="col-md-12" ng-model="node.data.contentFileIds" ng-required="false" ng-label="Files"></ctrl-file-list>
</div>      
<div class="row" id="page-content-filesdisabled" data-scrollspy="Files Disabled">
    <ctrl-file-list class="col-md-12" ng-model="node.data.contentFileIdsdisabled" ng-required="false" ng-enabled="false" ng-label="Files Disabled"></ctrl-file-list>
</div>      
<div class="row" id="page-content-filesrequired" data-scrollspy="Files required">
    <ctrl-file-list class="col-md-12" ng-model="node.data.contentFileIds2" ng-required="true" ng-label="Files *"></ctrl-file-list>
</div>      
<div class="row" id="page-content-filesrequireddisabled" data-scrollspy="Files Disabled required">
    <ctrl-file-list class="col-md-12" ng-model="node.data.contentFileIds2disabled" ng-required="true" ng-enabled="false" ng-label="Files Disabled *"></ctrl-file-list>
</div>      