<div class="row" id="page-content-html" data-scrollspy="Html">
    <ctrl-html class="col-md-12" ng-model="node.content.localized[language].htmlText" ng-options="{height: '300px'}" ng-required="false" ng-label="Html test"></ctrl-html>
</div>
<div class="row" id="page-content-htmlrequired" data-scrollspy="Html Required">
    <ctrl-html class="col-md-12" ng-model="node.content.localized[language].htmlTextrequired" ng-options="{height: '300px'}" ng-required="true" ng-label="Html test required"></ctrl-html>
</div>      
<div class="row" id="page-content-htmlDisabled" data-scrollspy="Html Disabled">
    <ctrl-html class="col-md-12" ng-model="node.content.localized[language].htmlTextDisabled" ng-options="{height: '300px'}" ng-required="false" ng-enabled="false" ng-label="Html test disabled"></ctrl-html>
</div>
<div class="row" id="page-content-htmlrequiredDisabled" data-scrollspy="Html Required Disabled">
    <ctrl-html class="col-md-12" ng-model="node.content.localized[language].htmlTextrequiredDisabled" ng-options="{height: '300px'}" ng-required="true" ng-enabled="false" ng-label="Html test required disabled"></ctrl-html>
</div>      