<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />

    <% if(robots !== '') { %>
    <meta name="robots" content="<%= robots %>" />
    <% } %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--meta-->
    <title><%= meta.title %></title>
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="description" content="<%= meta.description %>" />

    <% _.each(params, function(p) { %><meta name="<%= p.name %>" content="<%= p.content %>" />
    <% }); %>

    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <link rel="stylesheet" href="css/style.css" />

    <% _.each(js.lib, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <script type="text/javascript" src="dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <% _.each(js.app, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <script type="text/javascript" src="js/init.js"></script>
    <!-- @endif -->
    <!-- @if NODE_ENV='PRODUCTION' -->
    <link rel="stylesheet" href="css/style.min.css" />

    <script type="text/javascript" src="js/lib.min.js"></script>

    <script type="text/javascript" src="dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <script type="text/javascript" src="js/app.min.js"></script>

    <script type="text/javascript" src="js/init.min.js"></script>
    <!-- @endif -->
</head>
<body ng-controller="AppController">
    <h1>jsnbt-addon-location stores page</h1>

    <section ng-controller="StoresController">

        <div ng-repeat="store in stores">
            <h2>{{ store.data.title }}</h2>
            <ctrl-map ng-model="store.data.coordinates" style="height: 300px"></ctrl-map>
        </div>

    </section>
</body>
</html>