<div class="container">

    <section class="col-md-12">

        <breadcrumb ng-model="current.breadcrumb"></breadcrumb>    

        <div class="row title-container">
            <div class="col-md-1 back-button-container">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left"></span>
            </div>
            <div class="col-md-11">
                <h1>data</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-grid class="table-striped" ng-model="data">
                    <ctrl-grid-header>
                        <ctrl-grid-header-column>Name</ctrl-grid-header-column>
                        <ctrl-grid-header-column></ctrl-grid-header-column>
                    </ctrl-grid-header>
                    <ctrl-grid-body>
                        <ctrl-grid-column>
                            {{ data.name }}
                        </ctrl-grid-column>
                        <ctrl-grid-buttons-column>
                            <button class="btn btn-default glyphicon glyphicon-circle-arrow-right" ng-click="edit(data)" />
                        </ctrl-grid-buttons-column>
                    </ctrl-grid-body>
                    <ctrl-grid-footer>
                    </ctrl-grid-footer>
                </ctrl-grid>
            </div>
        </div>

    </section>

</div>