<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">files</h1>
            </div>
        </div>

        <div class="row">
            <ctrl-explorer class="col-md-12"></ctrl-explorer>
        </div>

    </section>

</div>