<div class="container">

    <section class="col-md-12">

        <breadcrumb ng-model="current.breadcrumb"></breadcrumb>

        <div class="row title-container">
            <div class="col-md-1 back-button-container">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left"></span>
            </div>
            <div class="col-md-9">
                <h1>{{ name }}</h1>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button title="Create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="Create" ng-click="create()"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-grid class="table-striped" ng-model="data">
                    <ctrl-grid-header>
                        <ctrl-grid-header-column>Name</ctrl-grid-header-column>
                        <ctrl-grid-header-column></ctrl-grid-header-column>
                    </ctrl-grid-header>
                    <ctrl-grid-footer>
                        <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                        <ctrl-grid-empty>no data</ctrl-grid-empty>
                    </ctrl-grid-footer>
                    <ctrl-grid-body>
                        <ctrl-grid-column>
                            {{ data.name }}
                        </ctrl-grid-column>
                        <ctrl-grid-buttons-column>
                            <button class="btn btn-default glyphicon glyphicon-edit btn-sm" ng-click="edit(data)" />
                            <button class="btn btn-default glyphicon glyphicon-ok-circle btn-sm" ng-disabled="!data.draft" ng-class="{'btn-primary': data.draft, 'btn-default': !data.draft }" ng-click="edit(data)" />
                            <button class="btn btn-default glyphicon glyphicon-remove btn-sm" ng-click="delete(data)" />
                        </ctrl-grid-buttons-column>
                    </ctrl-grid-body>
                </ctrl-grid>
            </div>
        </div>

    </section>

</div>