<div class="container">

    <section class="col-md-10 scrollspy-container" data-scrollspy>

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ name }}</h1>
                <div class="buttons">
                    <button type="button" ng-show="!published" class="btn btn-danger" ng-click="discard()">Discard</button>
                    <button type="button" ng-disabled="published && node.published" class="btn btn-success" ng-click="publish()">Publish</button>
                </div>
            </div>
        </div>

        <hr />

        <div id="page-name" data-scrollspy="Name" ng-show="entity.properties.name">
            <div class="row">
                <ctrl-text class="col-md-12" ng-model="node.name" ng-enabled="entity.properties.name" ng-required="true" ng-auto-focus="true" ng-label="Name"></ctrl-text>
            </div>

            <hr />
        </div>

        <div id="page-parent" data-scrollspy="Parent" ng-show="entity.properties.parent">
            <div class="row">
                <ctrl-node class="col-md-12" ng-model="node.parent" ng-domain="node.domain" ng-enabled="entity.properties.parent" ng-required="false" ng-options="parentOptions" ng-label="Parent"></ctrl-node>
            </div>

            <hr />
        </div>

        <div id="page-type" ng-show="node.domain === 'core' && types.length > 1" data-scrollspy="Type">
            <div class="row">
                <ctrl-select class="col-md-12" ng-model="node.entity" ng-required="true" ng-label="Type" ng-options="types" ng-enabled="node.domain === 'core'"></ctrl-select>
            </div>

            <hr />
        </div>

        <div id="page-language" data-scrollspy="Language" ng-show="localized">
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="control-label" for="ddlLanguage">Language</label>
                    <select class="form-control" id="ddlLanguage" ng-model="language">
                        <option ng-repeat="item in languages" value="{{item.code}}" ng-selected="item.code === language">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <hr />
        </div>

        <div class="row breadcrumb-form-row" id="page-seo" data-scrollspy="Url">
            <div class="col-md-10" ng-show="entity.properties.seo">
                <label for="txtSeoName">Url</label>
                <ol class="breadcrumb">
                    <li ng-repeat="item in seoNames"><span>{{item[language]}}</span></li>
                    <li class="active">
                        <ctrl-text ng-model="node.url[language]" ng-required="true" ng-enabled="entity.properties.seo" ng-validate="validateSeo" ng-valid="validation.seo" ng-characters="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_"></ctrl-text>
                        <span ng-show="!validation.seo">(name is taken)</span>
                    </li>
                </ol>
            </div>

            <ctrl-check class="col-md-2" ng-model="node.active[language]" ng-label="Active"></ctrl-check>
        </div>

        <hr />

        <div id="page-addon" data-scrollspy="Addon" ng-show="node.entity === 'pointer'">
            <div class="row">
                <ctrl-select class="col-md-6" ng-model="node.pointer.domain" ng-required="true" ng-enabled="node.entity === 'pointer'" ng-label="Addon" ng-default="true" ng-options="addons" ng-name-field="name" ng-value-field="domain"></ctrl-select>
                <ctrl-node class="col-md-5" ng-model="node.pointer.nodeId" ng-domain="node.pointer.domain" ng-required="node.pointer.domain && node.entity === 'pointer'" ng-enabled="node.entity === 'pointer'" ng-label="Pointee"></ctrl-node>
                <div class="col-md-1">
                    <button type="button" ng-disabled="!node.pointer.domain || !node.pointer.nodeId" class="btn" ng-click="editPointee()" style="position: relative; top: 25px">Edit</button>
                </div>
            </div>

            <hr />
        </div>

        <div id="page-content" data-scrollspy="Content" ng-show="node.entity !== 'pointer'">
            <div class="row" id="page-template" data-scrollspy="Template" ng-show="entity.properties.template">
                <ctrl-select class="col-md-12" ng-model="node.view" ng-enabled="entity.properties.template" ng-required="true" ng-options="views" ng-default="true" ng-value-field="path" ng-name-field="path" ng-label="Template"></ctrl-select>
            </div>

            <div ng-show="tmpl" ng-include="tmpl"></div>

            <div ng-repeat="tmplItem in tmpls" ng-include="tmplItem"></div>

            <hr />
        </div>

        <div id="page-meta" data-scrollspy="Meta" ng-show="entity.properties.meta">
            <div id="page-meta-title" class="row" data-scrollspy="Title">
                <ctrl-text class="col-md-12" ng-model="node.meta[language].title" ng-required="true" ng-enabled="entity.properties.meta" ng-label="Meta Title"></ctrl-text>
            </div>
            <div id="page-meta-description" class="row" data-scrollspy="Description">
                <ctrl-text-area class="col-md-12" ng-rows="4" ng-model="node.meta[language].description" ng-required="false" ng-enabled="entity.properties.meta" ng-label="Meta Description"></ctrl-text-area>
            </div>
            <div id="page-meta-keywords" class="row" data-scrollspy="Keywords">
                <ctrl-text-area class="col-md-12" ng-rows="4" ng-model="node.meta[language].keywords" ng-required="false" ng-enabled="entity.properties.meta" ng-label="Meta Keywords"></ctrl-text-area>
            </div>

            <hr />
        </div>

        <div id="page-permissions" data-scrollspy="Permissions" ng-show="application.restricted && entity.properties.permissions">
            <div class="row">
                <ctrl-check class="col-md-4" ng-model="node.permissions.inherits" ng-enabled="application.restricted && entity.properties.permissions" ng-label="Inherits from parent"></ctrl-check>
                <ctrl-check-list class="col-md-8" ng-model="roles" ng-options="roleOptions" ng-required="true" ng-enabled="application.restricted && entity.properties.permissions && !node.permissions.inherits" ng-label="Permissions"></ctrl-check-list>
            </div>

            <hr />
        </div>

    </section>

    <div class="col-md-2">
        <scrollspy data="nav" />
    </div>

</div>
