<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">nodes</h1>
                <div class="buttons">
                    <button title="Create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="Create" ng-click="create()"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-tree ng-model="nodes[0].children" ng-domain="domain" ng-fn="treeFn">
                    <ctrl-tree-node>
                        <ctrl-tree-node-content>{{ node.name }}</ctrl-tree-node-content>
                        <ctrl-tree-node-buttons>
                            <button title="Create child" class="btn btn-default btn-sm glyphicon glyphicon-plus-sign" ng-disabled="!fn.canCreate(node)" ng-click="fn.create(node)"></button>
                            <button title="Edit" class="btn btn-default btn-sm glyphicon glyphicon-edit" ng-disabled="!fn.canEdit(node)" ng-click="fn.edit(node)"></button>
                            <button title="Delete" class="btn btn-default btn-sm glyphicon glyphicon-remove" ng-disabled="!fn.canDelete(node)" ng-click="fn.delete(node)"></button>
                            <button title="Publish" ng-class="{'btn-primary': fn.canPublish(node), 'btn-default': !fn.canPublish(node)}" class="btn btn-sm glyphicon glyphicon-ok-circle" ng-disabled="!fn.canPublish(node)" ng-click="fn.publish(node)"></button>
                            <button title="Open" class="btn btn-default btn-sm glyphicon glyphicon-circle-arrow-right" ng-disabled="!fn.canOpen(node)" ng-click="fn.open(node)"></button>
                        </ctrl-tree-node-buttons>
                    </ctrl-tree-node>
                </ctrl-tree>
                <ctrl-tree-empty ng-model="nodes[0].children" ng-domain="domain">no nodes</ctrl-tree-empty>
            </div>
        </div>

    </section>

</div>

