<div class="navbar navbar-fixed-top">
    <div class="container">
        <div class="pull-left">
            <h1 class="head-line"><img ng-if="application.name.image" ng-src="{{application.name.image}}" /><small ng-if="application.name.title">{{application.name.title}}</small></h1>
        </div>
        <div class="pull-right account-options">
            <popover class="user-button glyphicon glyphicon-user">
                <div class="user-info-box">
                    <img class="gravatar" ng-src="{{ 'http://www.gravatar.com/avatar/' + (current.user.username | gravatar) }}" />
                    <div class="account-info">
                        <span class="user-name">{{ current.user.firstName }} {{ current.user.lastName }}</span>
                        <span class="user-username">{{ current.user.username }}</span>
                        
                        <button class="btn btn-primary account-button" ng-click="goto('/account')">account</button>                        
                    </div>
                </div>
            </popover>
            <span class="user-button glyphicon glyphicon-off" ng-click="current.logout()"></span>
        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 0}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                    <li ng-class="{'active': current.breadcrumb.items.length === 0 || current.breadcrumb.items[0].name === 'dashboard' }"><a href="javascript:;" ng-click="goto('/dashboard')">dashboard</a></li>
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 1}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                    <li ng-class="{'active': current.breadcrumb.items[0].name === 'content'}"><a href="javascript:;" ng-click="goto('/content')">content</a></li>
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 2}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                    <li ng-class="{'active': current.breadcrumb.items[0].name === 'modules'}"><a href="javascript:;" ng-click="goto('/modules')">modules</a></li>
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 3}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                    <li ng-class="{'active': current.breadcrumb.items[0].name === 'users'}" ng-show="isAuthorized('users')"><a href="javascript:;" ng-click="goto('/users')">users</a></li>
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 4}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                    <li ng-class="{'active': current.breadcrumb.items[0].name === 'settings'}" ng-show="isAuthorized('settings')"><a href="javascript:;" ng-click="goto('/settings')">settings</a></li>
                    <li ng-repeat="menuItem in application.navigationSpec | filter: {index: 5}" ng-class="{'active': current.breadcrumb.items[0].name === menuItem.identifier}"><a href="javascript:;" ng-click="goto(menuItem.url)">{{ menuItem.name }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>