<div class="row" id="settings-title" data-scrollspy="Title">
    <ctrl-text class="col-md-12" ng-model="settings.title" ng-required="true" ng-label="Title"></ctrl-text>
</div>

<hr />

<div class="row" id="settings-homepage" data-scrollspy="Home page">
    <ctrl-node class="col-md-12" ng-model="settings.homepage" ng-domain="'core'" ng-required="true" ng-options="{entities: ['page']}" ng-label="Home page"></ctrl-node>
</div>

<hr />

<div class="row" id="settings-auth" data-scrollspy="Authentication">
    <ctrl-check class="col-md-2" ng-model="settings.restricted" ng-label="Restricted"></ctrl-check>
    <ctrl-node class="col-md-10" ng-model="settings.loginpage" ng-domain="'core'" ng-required="true" ng-options="{entities: ['page']}" ng-label="Login page" ng-enabled="settings.restricted"></ctrl-node>
</div>