<form name="registrationForm" action="/admin/logging" target="sink" method="post" ng-submit="register()" class="col-md-12">
    <div class="row username">
        <ctrl-text ng-model="username" ng-required="true" ng-valid="validEmail" ng-label="email"></ctrl-text>
    </div>
    <div class="row password">
        <ctrl-password ng-model="password" ng-required="true" ng-label="password"></ctrl-password>
    </div>
    <div class="row">
        <ctrl-text ng-model="firstName" ng-required="true" ng-label="first name"></ctrl-text>
    </div>
    <div class="row">
        <ctrl-text ng-model="lastName" ng-required="true" ng-label="last name"></ctrl-text>
    </div>
    <div class="row" style="text-align:right">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </div>
    
    <iframe src="/admin/logging" name="sink" ng-hide="true"></iframe>
</form>