<div class="container">

    <section class="col-md-10 scrollspy-container" data-scrollspy>

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ name }}</h1>
                <div class="buttons">
                    <button type="button" ng-show="!published" class="btn btn-danger" ng-click="discard()">discard</button>
                    <button type="button" ng-disabled="published && text.published" class="btn btn-success" ng-click="publish()">publish</button>
                </div>
            </div>
        </div>

        <hr />

        <div id="page-text-key" data-scrollspy="key">
            <div class="row">
                <ctrl-text class="col-md-6" ng-model="text.group" ng-validate="validateKey" ng-valid="validation.key" ng-characters="abcdefghijklmnopqrstuvwxyz_" ng-label="group"></ctrl-text>
                <ctrl-text class="col-md-6" ng-model="text.key" ng-required="true" ng-validate="validateKey" ng-valid="validation.key" ng-characters="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_" ng-label="key"></ctrl-text>                
            </div>
            <span class="row-validator" ng-show="!validation.key">combination of group and key already exists</span>
        </div>

        <hr />

        <div id="page-text-value" data-scrollspy="value">
            <div ng-repeat="language in languages" class="row" id="page-text-value-{{language.code}}" data-scrollspy="{{language.name}}">
                <ctrl-text-area class="col-md-12" ng-model="text.value[language.code]" ng-required="true" ng-label="{{application.localization.enabled ? language.name : 'value'}}"></ctrl-text-area>
            </div>
        </div>

        <hr />

    </section>

    <div class="col-md-2">
        <scrollspy data="nav" />
    </div>

</div>