<div class="row" id="layout-file" files-scrollspy="file">
    <ctrl-file class="col-sm-6" ng-model="model.content.file" ng-label="file"></ctrl-file>
    <ctrl-file class="col-sm-6" ng-model="model.content.fileR" ng-required="true" ng-label="file required"></ctrl-file>
</div>
<div class="row" id="layout-files" files-scrollspy="files">
    <ctrl-file-list class="col-sm-12" ng-model="model.content.files" ng-label="files"></ctrl-file-list>
    <ctrl-file-list class="col-sm-12" ng-model="model.content.filesR" ng-required="true" ng-max-length="2" ng-label="files required (max length: 2)"></ctrl-file-list>
</div>