<div class="row" id="layout-image" images-scrollspy="image">
    <ctrl-image class="col-sm-6" ng-model="layout.content.image" ng-label="image"></ctrl-image>
    <ctrl-image class="col-sm-6" ng-model="layout.content.imageR" ng-required="true" ng-label="image required"></ctrl-image>
</div>
<div class="row" id="layout-images" images-scrollspy="images">
    <ctrl-image-list class="col-sm-12" ng-model="layout.content.images" ng-label="images"></ctrl-image-list>
    <ctrl-image-list class="col-sm-12" ng-model="layout.content.imagesR" ng-required="true" ng-max-length="2" ng-label="images required (max length: 2)"></ctrl-image-list>
</div>