<div class="row" id="layout-node" data-scrollspy="node">
    <ctrl-node class="col-sm-12" ng-language="defaults.language" ng-model="layout.content.node" ng-domain="'core'" ng-required="false" ng-label="node">
        {{model.title[language]}}
    </ctrl-node>
</div>
<div class="row" id="layout-nodeR" data-scrollspy="node required">
    <ctrl-node class="col-sm-12" ng-language="defaults.language" ng-model="layout.content.nodeR" ng-domain="'core'" ng-required="true" ng-label="node required">
        {{model.title[language]}}
    </ctrl-node>
</div>
<div class="row" id="layout-nodes" data-scrollspy="nodes">
    <ctrl-node-list class="col-sm-12" ng-language="defaults.language" ng-model="layout.content.nodes" ng-domain="'core'" ng-required="false" ng-max-length="2" ng-label="nodes (max length 2)">
        {{model.title[language]}}
    </ctrl-node-list>
</div>
<div class="row" id="layout-nodesR" data-scrollspy="nodes required">
    <ctrl-node-list class="col-sm-12" ng-language="defaults.language" ng-model="layout.content.nodesR" ng-domain="'core'" ng-required="true" ng-max-length="2" ng-label="nodes required (max length 2)">
        {{model.title[language]}}
    </ctrl-node-list>
</div>