<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <base href="<%= baseHref %>" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--meta-->
    <title><%= meta.title %></title>
    <meta name="keywords" content="<%= meta.keywords %>" />
    <meta name="description" content="<%= meta.description %>" />

    <!-- @if NODE_ENV='DEVELOPMENT' -->
    <link rel="stylesheet" href="css/style.css" />

    <% _.each(js.lib, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

    <script type="text/javascript" src="../dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <% _.each(js.app, function(file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
    <script type="text/javascript" src="js/init.js"></script>
    <!-- @endif -->
    <!-- @if NODE_ENV='PRODUCTION' -->
    <link rel="stylesheet" href="css/style.min.css" />

    <script type="text/javascript" src="js/lib.min.js"></script>

    <script type="text/javascript" src="../dpd.js"></script>
    <script type="text/javascript" src="jsnbt.js"></script>

    <script type="text/javascript" src="js/app.min.js"></script>

    <script type="text/javascript" src="js/init.min.js"></script>

    <!-- @endif -->
</head>
<body ng-app="jsnbt" ng-controller="AppController">

    <login></login>

    <!--<iframe src="logging.htm" name="sink"></iframe>
    <form name="loginForm"
          action="logging.htm" target="sink" method="post"
          ng-controller="LoginController"
          ng-submit="login(credentials)"
          novalidate form-autofill-fix>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"
               ng-model="credentials.username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"
               ng-model="credentials.password">
        <button type="submit">Login</button>
    </form>-->
</body>
</html>