@import "content/nodes";  
@import "modals/image-select";  
@import "modals/file-upload";  

.content-thumbs {
    list-style-type: none;
    padding: 0px;
    text-align: center;
}

.content-thumbs li {
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: 200px;
}

.content-thumbs img {
    height: 128px;
    margin-bottom: 10px;
}

.content-thumbs label {
    width: 100%;
    text-align:center;
}

.content-thumbs .disabled img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}