<form name="loginForm" method="post" ng-submit="login()" class="col-md-12">
    <div class="row username">
        <ctrl-text ng-model="username" ng-required="true" ng-label="email"></ctrl-text>
    </div>
    <div class="row password">
        <ctrl-password ng-model="password" ng-required="true" ng-label="password"></ctrl-password>
    </div>

    <div class="row" style="text-align:right">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">login</button>
        </div>
    </div>
    
    <p class="text-danger failed" ng-show="failed">unsuccessful login attempt</p>
</form>