<div ng-if="found && !denied" ng-show="!loading" ng-class="{ 'container': !modal, 'container-fluid': modal }" class="affix-area form-buttons-container">
    <div class="row ">
        <div ng-class="{ 'col-sm-10': !modal, 'col-sm-12': modal }">
            <div class="affix-container">
                <div class="buttons">
                    <div ng-show="buttons" ng-include="buttons"></div>
                    <button type="button" ng-show="!published && !draft" class="btn btn-danger" ng-click="discard()">discard</button>
                    <button type="button" ng-disabled="published && !draft" class="btn btn-success" ng-click="publish()">publish</button>
                </div>

                <ctrl-language-selector class="language-selector" ng-model="language" ng-options="application.languages" ng-show="localized && localization"></ctrl-language-selector>
            </div>
        </div>
    </div>
</div>

<div ng-if="found && !denied" ng-show="!loading" ng-class="{ 'container': !modal, 'container-fluid': modal }">

    <section class="scrollspy-container" ng-class="{ 'col-sm-10': !modal, 'col-sm-12': modal }" data-scrollspy>

        <ctrl-breadcrumb ng-show="breadcrumb" ng-linkable-offset="modal.offset" ng-model="current.breadcrumb.items" ng-title="current.breadcrumb.title"></ctrl-breadcrumb>

        <div class="row title-container">
            <div class="col-sm-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ title }}</h1>
            </div>
        </div>

        <hr />

        <div id="page-title" data-scrollspy="title" ng-show="list.properties.title">
            <div class="row">
                <ctrl-text class=" col-sm-12" ng-model="model.title[language]" ng-validating="active[language]" ng-disabled="!list.properties.title" ng-required="true" ng-label="title"></ctrl-text>
            </div>

            <hr />
        </div>

        <div ng-include="template"></div>

        <hr />

    </section>

    <div class="col-sm-2" ng-if="!modal">
        <ctrl-scroll-spy ng-model="nav" />
    </div>

</div>
<div ng-if="!found && !denied" ng-show="!loading" class="centered" ng-include="'tmpl/core/base/partials/404.html'"></div>
<div ng-if="denied" ng-show="!loading" class="centered" ng-include="'tmpl/core/base/partials/denied.html'"></div>
