<div ng-show="found === true" class="container-fluid affix-area form-buttons-container">
    <div class="container">
        <div class="row ">
            <div class="col-md-10">
                <div class="affix-container">
                    <div class="buttons">
                        <div ng-show="buttons" ng-include="buttons"></div>
                        <button type="button" ng-show="!published && !draft" class="btn btn-danger" ng-click="discard()">discard</button>
                        <button type="button" ng-disabled="published && !draft" class="btn btn-success" ng-click="publish()">publish</button>
                    </div>

                    <ctrl-language-selector class="language-selector" ng-model="language" ng-options="languages" ng-show="localized && localization"></ctrl-language-selector>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-show="found === true" class="container">

    <section class="col-md-10 scrollspy-container" data-scrollspy>

        <ctrl-breadcrumb ng-show="breadcrumb" ng-model="current.breadcrumb.items" ng-title="current.breadcrumb.title"></ctrl-breadcrumb>

        <div ng-include="template"></div>

    </section>

    <div class="col-md-2">
        <ctrl-scroll-spy ng-model="nav" />
    </div>

</div>

<div ng-if="found === false" class="container error-page" ng-include="'tmpl/core/common/404.html'"></div>