<div ng-show="found === true" ng-class="{ 'container': !modal, 'container-fluid': modal }">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-show="breadcrumb" ng-class="{ 'container': !modal, 'container-fluid': modal }" ng-linkable-offset="modal.offset" ng-model="current.breadcrumb.items" ng-title="current.breadcrumb.title"></ctrl-breadcrumb>

        <div ng-include="route.current.template || route.current.baseTemplate"></div>

    </section>

</div>

<div ng-if="found === false" ng-class="{ 'container': !modal, 'container-fluid': modal }" class="error-page" ng-include="'tmpl/core/common/404.html'"></div>