<div class="row" id="page-content-title" data-scrollspy="title">
    <ctrl-text class="col-md-12" ng-disabled="!node.active[language]" ng-model="node.content.localized[language].title" ng-required="true" ng-label="title"></ctrl-text>
</div>
<div id="page-content-address" data-scrollspy="address">
    <div class="row">
        <ctrl-text class="col-md-5" ng-disabled="!node.active[language]" ng-model="node.content.localized[language].address" ng-required="true" ng-label="address"></ctrl-text>
        <ctrl-text class="col-md-2" ng-disabled="!node.active[language]" ng-model="node.content.localized[language].city" ng-required="true" ng-label="city"></ctrl-text>
        <ctrl-text class="col-md-2" ng-disabled="!node.active[language]" ng-model="node.content.postcode" ng-required="true" ng-label="post code"></ctrl-text>
        <ctrl-select class="col-md-3" ng-disabled="!node.active[language]" ng-model="node.content.country" ng-options="defaults.countries" ng-value-field="code" ng-default="true" ng-required="true" ng-label="country"></ctrl-select>
    </div>
    <div class="row">
        <ctrl-location-map class="col-md-12" ng-model="node.content.coordinates" ng-required="true"
            ng-address="node.content.localized[language].address" ng-postcode="node.content.postcode" ng-city="node.content.localized[language].city" ng-country="node.content.country"></ctrl-location-map>
    </div>
</div>