<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row content-container">
            <div class="col-md-4" ng-repeat="item in items">
                <div class="content-box">
                    <a href="javascript:;" ng-click="next(item.url)">
                        <div class="image-container">

                            <img ng-src="{{item.image}}" />
                        </div>
                        <div class="text-container">
                            <h3 class="title">{{ item.title }}</h3>
                            <span class="subtitle"></span>
                            <p class="body">{{ item.body }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </section>

</div>