<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <h1 class="title">content</h1>
            </div>
        </div>

        <div class="row content-container" ng-repeat="item in items">
            <div class="image-container">
                <a href="javascript:;" ng-click="goto(item.url)">
                    <img ng-src="{{item.image}}?type=1" />
                </a>
            </div> 
            <div class="text-container">
                <h3 class="title"><a href="javascript:;" ng-click="goto(item.url)">{{ item.title }}</a></h3>
                <span class="subtitle"></span>
                <p class="body">{{ item.body }}</p>
            </div>
        </div>

    </section>

</div>