<div class="row title-container">
    <div class="col-sm-12">
        <h1 class="title">modules</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ctrl-grid class="table-striped" ng-model="model" ng-fn="gridFn" ng-language="defaults.language">
            <ctrl-grid-header>
                <ctrl-grid-header-column class="col-sm-6">name</ctrl-grid-header-column>
                <ctrl-grid-header-column class="col-sm-5">version</ctrl-grid-header-column>
                <ctrl-grid-header-column class="col-sm-1"></ctrl-grid-header-column>
            </ctrl-grid-header>
            <ctrl-grid-footer>
                <ctrl-grid-empty>no modules</ctrl-grid-empty>
            </ctrl-grid-footer>
            <ctrl-grid-body>
                <ctrl-grid-column class="col-sm-6">
                    {{ model.domain }}
                </ctrl-grid-column>
                <ctrl-grid-column class="col-sm-5">
                    {{ model.version }}
                </ctrl-grid-column>
                <ctrl-grid-buttons-column class="col-sm-1">
                    <button title="open" class="btn btn-default btn-sm glyphicon glyphicon-th" ng-disabled="!fn.canOpen(model)" ng-click="fn.open(model)" />
                </ctrl-grid-buttons-column>
            </ctrl-grid-body>
        </ctrl-grid>
    </div>
</div>