<div class="container">

    <section class="col-md-10 scrollspy-container" data-scrollspy>

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-show="current.breadcrumb[0].name === 'modules'" ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ name }}</h1>
                <div class="buttons">
                    <button type="button" ng-show="!published" class="btn btn-danger" ng-click="discard()">discard</button>
                    <button type="button" ng-disabled="published" class="btn btn-success" ng-click="publish()">save</button>
                </div>
            </div>
        </div>
        
        <hr ng-show="domainTmpl" />

        <div ng-show="domainTmpl" ng-include="domainTmpl"></div>

        <hr ng-show="domainTmpl" />

        <div ng-show="publicTmpl" ng-include="publicTmpl"></div>

        <hr ng-show="publicTmpl" />

    </section>

    <div class="col-md-2">
        <scrollspy ng-model="nav" />
    </div>

</div>

