<div class="row title-container">
    <div class="col-md-12">
        <h1 class="title">users</h1>
        <div class="buttons">
            <button title="create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="create" ng-disabled="!canCreate()" ng-click="create()"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ctrl-grid class="table-striped" ng-model="data" ng-fn="gridFn" language="defaults.language">
            <ctrl-grid-header>
                <ctrl-grid-header-column>surname</ctrl-grid-header-column>
                <ctrl-grid-header-column>forename</ctrl-grid-header-column>
                <ctrl-grid-header-column>email</ctrl-grid-header-column>
                <ctrl-grid-header-column></ctrl-grid-header-column>
            </ctrl-grid-header>
            <ctrl-grid-footer>
                <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                <ctrl-grid-empty>no users</ctrl-grid-empty>
            </ctrl-grid-footer>
            <ctrl-grid-body>
                <ctrl-grid-column>
                    {{ row.lastName }}
                </ctrl-grid-column>
                <ctrl-grid-column>
                    {{ row.firstName }}
                </ctrl-grid-column>
                <ctrl-grid-column>
                    {{ row.username }}
                </ctrl-grid-column>
                <ctrl-grid-buttons-column>
                    <button title="edit" class="btn btn-default glyphicon glyphicon-edit" ng-disabled="!fn.canEdit(row)" ng-click="fn.edit(row)" />
                </ctrl-grid-buttons-column>
            </ctrl-grid-body>
        </ctrl-grid>
    </div>
</div>