<div class="container-fluid affix-area form-buttons-container">
    <div class="container">
        <div class="row ">
            <div class="col-md-10">
                <div class="affix-container">
                    <div class="buttons">
                        <button type="button" ng-show="!published" class="btn btn-danger" ng-click="discard()">discard</button>
                        <button type="button" ng-disabled="published" class="btn btn-success" ng-click="publish()">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">{{ title }}</h1>
    </div>
</div>
        
<hr />
        
<div class="row" id="user-username" data-scrollspy="email">
    <ctrl-text class="col-sm-12" ng-model="user.username" ng-required="true" ng-disabled="true" ng-label="email"></ctrl-text>
</div>
        
<div class="row" id="user-name" data-scrollspy="name">
    <ctrl-text class="col-sm-6" ng-model="user.firstName" ng-required="true" ng-disabled="true" ng-label="first name"></ctrl-text>
    <ctrl-text class="col-sm-6" ng-model="user.lastName" ng-required="true" ng-disabled="true" ng-label="last name"></ctrl-text>
</div>

<hr />

<div class="row" id="user-roles" data-scrollspy="roles">
    <ctrl-check-list class="col-sm-12" ng-model="user.roles" ng-options="roles" ng-required="true" ng-disabled="!editRoles" ng-label="roles"></ctrl-check-list>
</div>

<hr />