<div class="row title-container">
    <div class="col-sm-12">
        <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
        <h1 class="title">{{ title }}</h1>
    </div>
</div>
        
<hr />

<div class="row" id="user-username" data-scrollspy="email">
    <ctrl-text class="col-sm-12" ng-model="model.username" ng-required="true" ng-validate="validateEmail" ng-valid="!emailExists" ng-disabled="!isNew()" ng-label="email"></ctrl-text>
    <span class="validation-error whole centered" ng-show="emailExists">email already exist</span>
</div>
        
<div class="row" id="user-name" data-scrollspy="name">
    <ctrl-text class="col-sm-6" ng-model="model.firstName" ng-required="true" ng-disabled="!isNew()" ng-label="first name"></ctrl-text>
    <ctrl-text class="col-sm-6" ng-model="model.lastName" ng-required="true" ng-disabled="!isNew()" ng-label="last name"></ctrl-text>
</div>

<div class="row" id="user-password" data-scrollspy="password" ng-show="isNew()">
    <ctrl-password class="col-sm-6" ng-model="credentials.password" ng-required="true" ng-valid="!invalidPasswordComparison" ng-disabled="!isNew()" ng-label="password"></ctrl-password>
    <ctrl-password class="col-sm-6" ng-model="credentials.passwordConfirmation" ng-required="true" ng-validate="validatePasswordConfirm" ng-disabled="!isNew()" ng-label="password confirmation"></ctrl-password>
    <span class="validation-error whole centered" ng-show="invalidPasswordComparison">passwords do not match</span>
</div>

<hr />

<div class="row" id="user-roles" data-scrollspy="roles">
    <ctrl-check-list class="col-sm-12" ng-model="model.roles" ng-items="roles" ng-required="true" ng-disabled="!editRoles" ng-label="roles"></ctrl-check-list>
</div>

<hr />