<div class="row title-container">
    <div class="col-sm-12">
        <h1 class="title">users</h1>
        <div class="buttons">
            <button title="create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="create" ng-disabled="!canCreate()" ng-click="create()"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <ctrl-grid class="table-striped" ng-model="model" ng-fn="gridFn" ng-language="defaults.language">
            <ctrl-grid-header>
                <ctrl-grid-header-column ng-sort-name="'lastName'" ng-filter-type="string" ng-filter-name="'lastName'">surname</ctrl-grid-header-column>
                <ctrl-grid-header-column ng-sort-name="'firstName'" ng-filter-type="string" ng-filter-name="'firstName'">forename</ctrl-grid-header-column>
                <ctrl-grid-header-column ng-sort-name="'username'" ng-filter-type="string" ng-filter-name="'username'">email</ctrl-grid-header-column>
                <ctrl-grid-header-column></ctrl-grid-header-column>
            </ctrl-grid-header>
            <ctrl-grid-footer>
                <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                <ctrl-grid-empty>no users</ctrl-grid-empty>
            </ctrl-grid-footer>
            <ctrl-grid-body>
                <ctrl-grid-column class="col-md-3">
                    {{ model.lastName }}
                </ctrl-grid-column>
                <ctrl-grid-column class="col-md-3">
                    {{ model.firstName }}
                </ctrl-grid-column>
                <ctrl-grid-column class="col-md-5">
                    {{ model.username }}
                </ctrl-grid-column>
                <ctrl-grid-buttons-column class="col-md-1">
                    <button title="edit" class="btn btn-default glyphicon glyphicon-edit" ng-disabled="!fn.canEdit(model)" ng-click="fn.edit(model)" />
                </ctrl-grid-buttons-column>
            </ctrl-grid-body>
        </ctrl-grid>
    </div>
</div> 