<div class="container">

    <section class="col-md-12">

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <h1 class="title">users</h1>
                <div class="buttons">
                    <button title="create new" class="btn btn-default glyphicon glyphicon-plus-sign" type="button" value="create" ng-click="create()" ng-disabled="true"></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ctrl-grid class="table-striped" ng-model="data" ng-fn="gridFn" language="defaults.language">
                    <ctrl-grid-header>
                        <ctrl-grid-header-column>name</ctrl-grid-header-column>
                        <ctrl-grid-header-column>email</ctrl-grid-header-column>
                        <ctrl-grid-header-column></ctrl-grid-header-column>
                    </ctrl-grid-header>
                    <ctrl-grid-footer>
                        <ctrl-grid-infinite-scroll></ctrl-grid-infinite-scroll>
                        <ctrl-grid-empty>no users</ctrl-grid-empty>
                    </ctrl-grid-footer>
                    <ctrl-grid-body>
                        <ctrl-grid-column>
                            {{ row.firstName }} {{ row.lastName }}
                        </ctrl-grid-column>
                        <ctrl-grid-column>
                            {{ row.username }}
                        </ctrl-grid-column>
                        <ctrl-grid-buttons-column>
                            <button class="btn btn-default glyphicon glyphicon-edit" ng-click="fn.edit(row)" />
                        </ctrl-grid-buttons-column>
                    </ctrl-grid-body>
                </ctrl-grid>
            </div>
        </div>
    </section>

</div>