<div class="row" id="page-content-header" data-scrollspy="secondheader" >
    <ctrl-text class="col-md-12" ng-model="layout.content.localized[language].secondheader" ng-disabled="!active[language]" ng-required="true" ng-label="secondheader"></ctrl-text>
</div>
<div class="row" id="page-content-image" data-scrollspy="secondimage">
    <ctrl-image class="col-md-12" ng-disabled="!active[language]" ng-height="250" ng-width="550" ng-tip="550x250" ng-model="layout.content.secondimage" ng-required="true" ng-label="secondimage"></ctrl-image>
</div>