<div class="row" id="page-content-header" data-scrollspy="header">
    <ctrl-text class="col-md-12" ng-model="layout.content.localized[language].header" ng-disabled="!active[language]" ng-required="true" ng-label="header"></ctrl-text>
</div>
<div class="row" id="page-content-image" data-scrollspy="image">
    <ctrl-image class="col-md-12" ng-height="250" ng-width="550" ng-tip="550x250" ng-model="layout.content.image" ng-required="true" ng-label="image"></ctrl-image>
</div>
<div class="row" id="page-content-container" data-scrollspy="container">
    <ctrl-container class="col-md-12" ng-model="layout.content.container" ng-required="true" ng-label="container"></ctrl-container>
</div>
<div class="row" id="page-content-containers" data-scrollspy="containers">
    <ctrl-container-list class="col-md-12" ng-model="layout.content.containers" ng-required="true" ng-label="containers"></ctrl-container-list>
</div>