<div ng-class="{ 'ng-required': ngRequired, invalid: enabled && !valid }">
    <div class="form-group" ng-class="{ 'has-error': enabled && !valid, 'has-feedback': enabled && !valid }">
        <label ng-show="ngLabel" class="control-label">{{ngLabel}}<small ng-show="ngTip">({{ngTip}})</small></label>

        <ul class="ctrl-form-file-list-contents sortable-group" ui-sortable="sortableOptions" ng-model="value">
            <li ng-repeat="item in value">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-move" type="button" ng-disabled="!enabled"></button>
                    </span>
                    <input type="text" class="form-control" ng-model="item" ng-disabled="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clear(item)" ng-disabled="!enabled"></button>
                    </span>
                </div>
            </li>
        </ul>

        <div class="input-group form-control-feedback-container">
            <input type="text" class="form-control" ng-disabled="true" />
            <span ng-show="enabled && !valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="select()" ng-disabled="!enabled"></button>
            </span>
        </div>
    </div>
</div>