<div class="container">

    <section class="col-md-10 scrollspy-container" data-scrollspy>

        <ctrl-breadcrumb ng-model="current.breadcrumb" ng-title="you are here:"></ctrl-breadcrumb>    

        <div class="row title-container">
            <div class="col-md-12">
                <span ng-click="back()" class="glyphicon glyphicon-arrow-left back-button"></span>
                <h1 class="title">{{ name }}</h1>
                <div class="buttons">
                    <button type="button" ng-show="!published" class="btn btn-danger" ng-click="discard()">Discard</button>
                    <button type="button" ng-disabled="published" class="btn btn-success" ng-click="publish()">Save</button>
                </div>
            </div>
        </div>
        
        <hr />

        <div class="row" id="page-language" data-scrollspy="Language">
            <ctrl-select class="col-md-10" ng-model="language.code" ng-enabled="false" ng-label="Language" ng-options="languages" ng-name-field="name" ng-value-field="code" ng-auto-focus="true"></ctrl-select>
            <ctrl-form-check class="col-md-2" ng-model="language.active" ng-enabled="!language.default" ng-label="Active"></ctrl-form-check>
        </div>

        <hr />

    </section>

    <div class="col-md-2">
        <scrollspy data="nav" />
    </div>

</div>