<div class="row" id="user-password">
    <ctrl-password class="col-sm-12" ng-model="model.password" ng-required="true" ng-label="password"></ctrl-password>
</div>
<div class="row" id="user-new-password">
    <ctrl-password class="col-sm-6" ng-model="model.newPassword" ng-required="true" ng-valid="!invalidPasswordComparison" ng-label="new password"></ctrl-password>
    <ctrl-password class="col-sm-6" ng-model="model.newPasswordConfirmation" ng-required="true" ng-validate="validatePasswordConfirm" ng-valid="!invalidPasswordComparison" ng-label="new password confirmation"></ctrl-password>
    <span class="validation-error whole centered" ng-show="invalidPasswordComparison">passwords do not match</span>
    <span class="validation-error whole centered" ng-show="invalidPassword">current password does not match</span>
</div>
