<form name="loginForm" action="/admin/logging" target="sink" method="post" ng-submit="login()" class="col-md-12">
    <div class="row username">
        <ctrl-text ng-model="username" ng-required="true" ng-label="Email"></ctrl-text>
    </div>
    <div class="row password">
        <ctrl-password ng-model="password" ng-required="true" ng-label="Password"></ctrl-password>
    </div>

    <div class="row" style="text-align:right">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </div>
    
    <p class="text-danger failed" ng-show="failed">Login attempt unsuccessful</p>

    <iframe src="/admin/logging" name="sink" ng-hide="true"></iframe>
</form>