<div>
    <ol class="breadcrumb">
        <li ng-repeat="item in breadcrumb"><a href="javascript:;" ng-click="open(item.url)" ng-class="{ active: item.active }">{{item.name}}</a></li>
    </ol>

    <div class="row explorer-controls" ng-show="!ngSelectable">
        <div class="col-md-6">
            <label class="control-label">new folder</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="new" data-input="create" data-allowed-chars="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789-_ ()#$%">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="create()">create</button>
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <label class="control-label">new file</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-disabled="true">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="upload()">upload</button>
                </span>
            </div>
        </div>
    </div>
    
    <table class="table table-condensed explorer-files">
        <tr ng-repeat="item in contents" ng-class="{'ng-selected': selected[item.location]}">
            <td class="image" ng-click="select(item)" ng-dblclick="open(item)">
                <img ng-src="{{ item.icon === 'image' ? '../' + item.location + '?type=admin-explorer-thumb' : 'img/core/explorer/icon/' + item.icon + '.png' }}" />
            </td>
            <td class="main" ng-click="select(item)" ng-dblclick="open(item)">
                <div class="name">{{item.name}}</div>
                <div class="size" ng-show="item.type === 'file'">{{item.size}} kb</div>
            </td>
            <td class="buttons" ng-show="!ngSelectable">
                <button title="edit" class="btn btn-default btn-sm glyphicon glyphicon-edit" ng-click="edit(item)"></button>
                <button title="delete" class="btn btn-default btn-sm glyphicon glyphicon-remove" ng-click="delete(item)"></button>
            </td>
            <td class="buttons" style="width:20px;"></td>
        </tr>
    </table>
</div> 