<div>
    <span ng-show="ngTitle" class="guide">{{ngTitle}} </span>
    <ol class="breadcrumb">
        <li ng-repeat="item in ngModel | filter:visible" ng-if="(ngVisibleOffset || 0) &lt;= $index">
            <a ng-if="!item.active && ((ngVisibleOffset || 0) &lt;= $index) && ((ngLinkableOffset || 0) &lt;= $index)" data-url="{{item.url}}" href="javascript:;" ng-click="previousTo(item.url)">{{item.name}}</a>
            <span ng-if="!item.active && ((ngVisibleOffset || 0) &lt;= $index) && ((ngLinkableOffset || 0) &gt; $index)" data-url="{{item.url}}">{{item.name}}</span>
            <span ng-if="item.active" data-url="{{item.url}}" class="active">{{item.name}}</span>
        </li>
    </ol>
</div>