.app-head {
    background-color: #FFFFFF;
}
.app-body {
    padding-top:140px;
}

.login-page {
    position: absolute;
    height: 80%;
    padding-top: 20%;
    width: 100%;
}

.login-page .container {
    width: 400px;
}