<div ng-class="{ 'ng-required': ngRequired, invalid: !ngDisabled && !valid }">
    <div class="form-group" ng-class="{ 'has-error': !ngDisabled && !valid, 'has-feedback': !ngDisabled && !valid }">
        <label ng-show="ngLabel" class="control-label">{{ngLabel}}<small ng-show="ngTip">({{ngTip}})</small></label>
        <div class="input-group form-control-feedback-container">
            <div class="form-control">
                <img err-src="../admin/img/core/noimage.jpg" ng-src="../{{value != '' ? value : 'admin/img/core/noimage.jpg' }}?type=admin-image-thumb" />
                <span>{{ wrong ? '-- invalid value --' : value }}</span>
            </div>
            <span ng-show="!ngDisabled && !valid" class="glyphicon glyphicon-ban-circle form-control-feedback" tooltip="{{ wrong ? 'invalid value' : 'value is required' }}"></span>
            <div class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-th" type="button" ng-click="edit()" ng-disabled="ngDisabled"></button>
                <button class="btn btn-default glyphicon glyphicon-picture" type="button" ng-click="crop()" ng-disabled="ngDisabled || wrong || !ngModel.src"></button>
                <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-show="!ngRequired" ng-click="clear()" ng-disabled="ngDisabled || !ngModel"></button>
            </div>
        </div>
    </div>
</div> 