<div ng-class="{ 'ng-required': ngRequired, invalid: !ngDisabled && !valid, faulty: faulty }">
    <div class="form-group">
        <label ng-show="ngLabel" class="control-label">{{ngLabel}}<small ng-show="ngTip">({{ngTip}})</small></label>

        <ul class="ctrl-select-list-contents sortable-group" ui-sortable="sortableOptions" ng-model="ngModel">
            <li ng-repeat="item in ngModel track by $index" ng-class="{ 'has-error': !ngDisabled && !valid && invalid[$index], 'has-feedback': !ngDisabled && !valid && invalid[$index] }" class="form-control-feedback-container">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-move" type="button" ng-disabled="ngDisabled"></button>
                    </span>
                    <select class="form-control" id="ddl{{id}}{{$index}}" ng-model="ngModel[$index]" ng-change="changed()">
                        <option ng-show="ngDefault" value="" ng-selected="!item || notFound">Please select</option>
                        <option ng-repeat="option in ngItems" value="{{option[valueField]}}" ng-selected="option[valueField] === item">{{option[nameField]}}</option>
                    </select>
                    <span ng-show="!ngDisabled && !valid && invalid[$index]" class="glyphicon glyphicon-ban-circle form-control-feedback" tooltip="value is required"></span>
                    <span class="input-group-btn">
                        <button title="delete" class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clear($index)" ng-disabled="ngDisabled"></button>
                    </span>
                </div>
            </li>
        </ul>

        <div class="input-group insert-form-control form-control-feedback-container" ng-class="{ 'has-error': !ngDisabled && !valid && faulty, 'has-feedback': !ngDisabled && !valid && faulty }">
            <input type="text" class="form-control" disabled="disabled" />
            <span ng-show="!ngDisabled && !valid && faulty" class="glyphicon glyphicon-ban-circle form-control-feedback" tooltip="{{ faults.exceeded ? 'maximum length: ' + ngMaxLength : (faults.empty ? 'value is required' : '') }}"></span>
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="add()" ng-disabled="ngDisabled || ngModel.length &gt;= ngMaxLength"></button>
            </span>
        </div>
    </div>
</div>