<div ng-class="{ 'ng-required': ngRequired, invalid: !ngDisabled && !valid, empty: empty }">
    <div class="form-group">
        <label ng-show="ngLabel" class="control-label">{{ngLabel}}<small ng-show="ngTip">({{ngTip}})</small></label>

        <ul class="ctrl-data-list-contents sortable-group" ui-sortable="sortableOptions" ng-model="value">
            <li ng-repeat="item in value track by $index" ng-class="{ 'has-error': !ngDisabled && !valid && invalid[$index], 'has-feedback': !ngDisabled && !valid && invalid[$index] }" class="form-control-feedback-container">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-move" type="button" ng-disabled="ngDisabled"></button>
                    </span>
                    <input type="text" class="form-control" value="{{ wrong[$index] ? (missing[$index] ? '-- not found -- (' + item.id + ')' : '-- invalid value --') : item.name }}" disabled="disabled" />
                    <span ng-show="!ngDisabled && !valid && invalid[$index]" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    <span class="input-group-btn">
                        <button title="select" class="btn btn-default glyphicon glyphicon-th" type="button" ng-click="edit($index)" ng-disabled="ngDisabled"></button>
                        <button title="delete" class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clear($index)" ng-disabled="ngDisabled"></button>
                    </span>
                </div>
            </li>
        </ul>

        <div class="input-group insert-form-control form-control-feedback-container" ng-class="{ 'has-error': !ngDisabled && !valid && empty, 'has-feedback': !ngDisabled && !valid && empty }">
            <input type="text" class="form-control" disabled="disabled" />
            <span ng-show="!ngDisabled && !valid && empty" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="add()" ng-disabled="ngDisabled || !ngDomain || !ngListId"></button>
            </span>
        </div>
    </div>
</div>