<div class="row">
    <ctrl-text class="col-md-12" ng-model="settings.messaging.mail.host" ng-required="true" ng-label="host"></ctrl-text>
</div>
<div class="row">
    <ctrl-text class="col-sm-6" ng-model="settings.messaging.mail.username" ng-required="true" ng-label="username"></ctrl-text>
    <ctrl-text class="col-sm-6" ng-model="settings.messaging.mail.password" ng-required="true" ng-label="password"></ctrl-text>
</div>
<div class="row">
    <ctrl-text class="col-md-12" ng-model="settings.messaging.mail.sender" ng-required="true" ng-label="sender"></ctrl-text>
</div>
<div class="row">
    <ctrl-check class="col-md-12" ng-model="settings.messaging.mail.ssl" ng-label="ssl"></ctrl-check>
</div>
