<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <base href="http://localhost:3000" />
    <meta charset="utf-8" />

    <title></title>

    <!--<script src="js/lib/moment/moment.js"></script>-->
    <script type="text/javascript" src="js/lib/underscore/underscore.js"></script>
    <script type="text/javascript" src="js/lib/underscore.string/underscore.string.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <!--<script type="text/javascript" src="js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-animate.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-moment.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-cookies.js"></script>-->
    <script type="text/javascript" src="js/lib/jquery/jquery.js"></script>
    <!--<script type="text/javascript" src="js/lib/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="js/lib/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="js/lib/date.format.js/index.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap/bootstrap.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap/tooltip.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap-formhelpers/bootstrap-formhelpers.js"></script>
    <script type="text/javascript" src="js/rb-classie.js"></script>
    <script type="text/javascript" src="js/rb-expanding.js"></script>-->
    <script type="text/javascript" src="js/lib/linq/index.js"></script>

    <script type="text/javascript" src="dpd.js"></script>

    <script type="text/javascript" src="js/app/main.js"></script>
    <script type="text/javascript" src="js/app/controllers/AppController.js"></script>
    <script type="text/javascript" src="js/app/providers/CacheProvider.js"></script>
    <script type="text/javascript" src="js/app/providers/SessionProvider.js"></script>
    <script type="text/javascript" src="js/app/services/DpdService.js"></script>
    <script type="text/javascript" src="js/app/services/LanguageService.js"></script>
    <script type="text/javascript" src="js/app/services/PageService.js"></script>
    <script type="text/javascript" src="js/app/services/SettingService.js"></script>
    <script type="text/javascript" src="js/app/services/TextService.js"></script>
    <script type="text/javascript" src="js/app/services/UserService.js"></script>

    <script type="text/javascript" src="js/init.js"></script>
</head>
<body>
    hello world
</body>
</html>