<div class="row" id="layout-date" data-scrollspy="date">
    <ctrl-date-picker class="col-sm-6" ng-model="layout.content.date" ng-required="false" ng-label="date"></ctrl-date-picker>
    <ctrl-date-picker class="col-sm-6" ng-model="layout.content.dateR" ng-required="true" ng-label="date required"></ctrl-date-picker>
</div>
<div class="row" id="layout-datetime" data-scrollspy="datetime">
    <ctrl-date-picker class="col-sm-6" ng-model="layout.content.datetime" ng-required="false" ng-time="true" ng-label="datetime"></ctrl-date-picker>
    <ctrl-date-picker class="col-sm-6" ng-model="layout.content.datetimeR" ng-required="true" ng-time="true" ng-label="datetime required"></ctrl-date-picker>
</div>