<div ng-class="{ invalid: !valid }">
    <div class="form-group" ng-class="{ 'has-error': !valid, 'has-feedback': !valid }">
        <label ng-show="ngLabel" class="control-label">{{ ngLabel }}</label>
        <div class="check-options">
            <div class="check-option" ng-repeat="option in ngOptions">
                <label class="check-option-title">{{ option[ngNameField] }}</label>
                <input class="check-option-control" type="checkbox" id="chk{{ id }}{{ option[ngValueField] }}" />
                <span class="check-option-description">{{ option[ngDescriptionField] }}</span>
            </div>
        </div>
        <span ng-show="!valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>
</div> 