<div ng-class="{ 'ng-required': ngRequired }">
    <div class="form-group" ng-class="{ 'has-error': !isValid(), 'has-feedback': !isValid() }">
        <label ng-show="ngLabel" class="control-label">{{ngLabel}}</label>

        <ul class="ctrl-file-list-contents sortable-group" ui-sortable="sortableOptions" ng-model="value">
            <li ng-repeat="item in value">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-move" type="button"></button>
                    </span>
                    <input type="text" class="form-control" ng-model="item" ng-disabled="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-default glyphicon glyphicon-remove" type="button" ng-click="clear(item)"></button>
                    </span>
                </div>
            </li>
        </ul>

        <div class="input-group">
            <input type="text" class="form-control" ng-disabled="true" />
            <span ng-show="!isValid()" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span class="input-group-btn">
                <button class="btn btn-default glyphicon glyphicon-plus-sign" type="button" ng-click="select()"></button>
            </span>
        </div>
    </div>
</div>