<div>
    <div class="form-group" ng-class="{ 'has-error': initiated && !isValid(), 'has-feedback': initiated && !isValid() }">
        <label ng-show="ngLabel" class="control-label" for="txt{{id}}">{{ngLabel}}</label>
        <div class="form-control-feedback-container">
            <input type="text" class="form-control" id="txt{{id}}" ng-model="ngModel" ng-change="changed()" ctrl-text-allowed />
            <span ng-show="initiated && !isValid()" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
    </div>
</div> 