<div ng-class="{ invalid: !valid }">
    <div class="form-group" ng-class="{ 'has-error': !valid, 'has-feedback': !valid }">
        <label ng-show="ngLabel" class="control-label" for="txt{{id}}">{{ngLabel}}</label>
        <div class="form-control-feedback-container">
            <input type="text" class="form-control" id="txt{{id}}" ng-model="ngModel" ng-disabled="!enabled" ng-change="changed()" ctrl-text-allowed />
            <span ng-show="!valid" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>
    </div>
</div> 